


.root{
	-fx-background-color: #7cafc2;
}

.label{
	-fx-font-weight: BOLD;
}


.note-view{
	-fx-background-color: #7cafc2;
}

.hovered{
	-fx-cursor: hand;
	
}

.empty-textField{
	-fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white; /* Adjust text color as needed */
}
.textfields:hover{
	-fx-background-color: rgba(192.0, 192.0, 192.0, 0.5);
    -fx-padding: 5.0px;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white; /* Adjust text color as needed */
    -fx-font-style: italic;
}










