


.root{
	-fx-background-color: #7cafc2;
}

.label{
	-fx-font-weight: BOLD;
	-fx-text-fill:white;
}

.top-labels{
	-fx-font-weight: BOLD;
	 -fx-font-size: 15px;	
}

.top-labels:hover{
	-fx-font-weight: BOLD;
	 -fx-font-size: 18px;	
	 -fx-cursor: hand;
}

.dates{
	-fx-text-fill:white;
	-fx-font-weight: BOLD;
	 -fx-font-size: 14px;	
}

.note-view{
	-fx-background-color: #7cafc2;
}

.hovered{
	-fx-cursor: hand;
	
}

.empty-textField{
	-fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: white;
    -fx-font-style: italic;
    -fx-text-fill: white; /* Adjust text color as needed */
}
.textfields:hover{
	-fx-background-color: rgba(192.0, 192.0, 192.0, 0.5);
    -fx-padding: 5.0px;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white; /* Adjust text color as needed */
    -fx-font-style: italic;
}










